<!DOCTYPE html>

<html>

<head>
    <title>Admin Page</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
        <% } %>

            <h1 style="text-align: center; margin: 50px;">This is the admin page analytics</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">PASSWORD</th>
                        <th scope="col">EMAIL</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < users.rows.length; i++) { %>
                        <tr>
                            <td>
                                <%= users.rows[i].user_ID %>
                            </td>
                            <td>
                                <%= users.rows[i].username %>
                            </td>
                            <td>
                                <%= users.rows[i].password %>
                            </td>
                            <td>
                                <%= users.rows[i].email %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>


            <h3 style="text-align: center; margin-top: 30px;">Amount of registered users</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">USERS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= users_number%>
                        </td>

                </tbody>
            </table>

            <h3 style="text-align: center; margin-top: 30px;">Amount of request methods</h3>

            <table class="table">
                <thead>
                    <tr>
                        <% for(var i=0; i < methods.length; i++) { %>
                            <th scope="col">
                                <%= methods[i].method %>
                            </th>
                            <% } %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% for(var i=0; i < methods.length; i++) { %>
                            <td>
                                <%= methods[i].count %>
                            </td>
                            <% } %>
                    </tr>

                </tbody>
            </table>


            <h3 style="text-align: center; margin-top: 30px;">Response status count</h3>
            <table class="table">
                <thead>

                    <tr>
                        <% for(var i=0; i < responseStatus.length; i++) { %>
                            <th scope="col">
                                <%= responseStatus[i].status %>
                            </th>
                            <% } %>
                    </tr>

                </thead>
                <tbody>
                <tbody>

                    <tr>
                        <% for(var i=0; i < responseStatus.length; i++) { %>
                            <td>
                                <%= responseStatus[i].count %>
                            </td>
                            <% } %>
                    </tr>

                </tbody>

                </tbody>
            </table>

            <div class="container my-5">
                <div class="text-center">
                    <h1 class="display-4 text-center mb-3">Analytics with AJAX lib AXIOS</h1>
                    <button class="btn btn-primary my-3" id="get" onclick="getTodos()">GET</button>
                    <button class="btn btn-info" id="post" onclick="test()">POST</button>
                    <button class="btn btn-warning" id="update">PUT/PATCH</button>
                    <button class="btn btn-danger" id="delete">DELETE</button>
                    <button class="btn btn-secondary" id="sim">Sim Requests</button>
                </div>
                <hr />
                <div id="res"></div>
            </div>





</body>

</html>