<!DOCTYPE html>

<html>

<head>
    <title>Profile Information</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">HAR ANALYZER</div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:3000/login/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/home/upload">Upload-Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/home/profile">Profile-Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
        <% } %>

            <h1 style="text-align: center; margin-top: 100px;">Profile Information for <%=name%></h1>
            <br><br><br>

            <li style="text-align: center;">Your current Username is : <%=name%>
            </li>
            <li style="text-align: center;">Your current Password is : <%=password%>
            </li>
            <br><br>
            <p style="text-align: center;">If you want to change your acount information use the form below</p>

            <div style=" display:grid; height: 100%; width: 100%; place-items: center; margin-top: 50px;">
                <form style=" width: 400px;" method="POST" action="/home/profile">
                    <div class="field"><input style="width: 400px;" name="newusername" type="text"
                            placeholder="New Username" required>
                    </div>
                    <div class="field"><input style="width: 400px;" name="newpassword" type="password"
                            placeholder="New Password" required>
                    </div>
                    <div class="field"><input style="width: 400px;" name="secpassword" type="password"
                            placeholder="Confirm password" required></div>
                    <div style="padding-top: 40px;" class="d-grid gap-2">
                        <input class="btn btn-primary" type="submit" value="Confirm new information"></input>
                    </div>
                </form>
            </div>

            <ul>
                <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
                <li><%= error.message %></li>
                <% }) %> <% } %>
            </ul>



</body>

</html>